---
---

.mobile
{
    display: none;
}

#banner-content
{
    width: 60%;
    height: 80%;
}

#main
{
    display: flex;
    align-items: flex-start;
}

#posts
{
    h2
    {
        margin-left: 5px;
        margin-top: 5px;
    }
}

#menu, #posts
{
    flex: 1 1 60%;
}

#content
{
    flex: 1 0 50%;
}