---
---

body
{
    background-color: whitesmoke;
    color: darkslategrey;
}

#banner
{
    position: relative;
    background-color: black;
    background-image: url("/assets/BG.PNG");
    width: 100%;
    height: 40vh;
}

#banner-content
{
    overflow: hidden;
}