---
layout: page
css: markdown
title: Blogs
---

<div class="item back"><a href="/">Home</a><hr /></div>

<h1>Blog</h1>


<ul>
  {% for post in site.posts %}
    {% if site.live %}
      <li>
        <a href="{{ post.url }}">
          <div class="category">{{ post.Category }}</div>
          <div class="title">{{ post.Title }}</div>
          <div class="tags">
            {% assign splitTags = site.Tags | split: " " %}
            {% for tag in splitTags %}
              <div class="tag">
                {{ member }}
              </div>
            {% endfor %}
          </div>
          {% if post.Image %}
            <div class="image"><img src="/assets/{{ post.Image }}"/></div>
          {% endif %}
          <div class="summary">{{ post.excerpt }}</div>
          <div class="author">{{ post.Author }}</div>
        </a>
      </li>
    {% endif %}
  {% endfor %}
</ul>