---
layout: page
title: Projects
---

<h1>Projects</h1>

<p>These are a collection of projects I am working on. Mostly these projects are experiments for the sake of learning new technologies but some have more interesting end goals. There are other projects floating around on my github but in their current state I didn't think they were worth presenting on a list</p>

<p>If your looking for projects that can be viewed from github pages check the Serverless page</p>

<div id="projects">
    {% for project in site.data.projects %}
        <div class="section">
            <div class="titleBar">
                <h1 class="title">
                    {{ project.title }}
                </h1>
            </div>
            {% if project.imageUrl %}
                <div class="image">
                    <img src="{{ project.imageUrl }}" />
                </div>
            {% endif %}
            <p class="description">
                {{ project.description }}
            </p>
            <a href="{{ project.githubUrl }}" class="github">
                {{ project.githubUrl }}
            </a>
        </div>
    {% endfor %}
</div>