<div id="posts">
    {% for post in site.posts %}
        {% if post.visible %}
            <div id="post" class="section">
                <a href="{{ post.url }}">
                    <div class="post-container">
                            {% if post.Image %}
                                <div class="image"><img src="/assets/{{ post.Image }}"/></div>
                            {% endif %}
                        <div class="summary">{{ post.excerpt }}</div>
                    </div>
                    <div class="date">{{ post.date | date_to_string }}</div>
                    <hr style="margin-bottom: 0;"/>
                    <div class="category">{{ post.Category }}</div>
                    <div class="tags">
                        {% for tag in post.Tags %}
                            <div class="tag">
                                {{ tag }}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="author">{{ post.Author }}</div>
                </a>
            </div>
        {% endif %}
    {% endfor %}
</div>
      