---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			Check out <a href="https://github.com/Mcphylus12/">https://github.com/Mcphylus12/</a> to see my projects. This site is still under development.
		</main>
		<Footer />
	</body>
</html>
