---
---

@import 'base';

li
{
    list-style: none;
    border: 1px solid black;
    padding: 2px;

    a 
    {
        text-decoration: none;
    }

    .title
    {
        display: inline-block;
    }


}