---
---

@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
@import 'base';

li
{
    list-style: none;
    overflow: hidden;
    padding: 5px;
    border: 1px solid darkslategray;

    a 
    {
        text-decoration: none;
        color: darkslategray;
    }

    .tags
    {
        display: inline;
    }

    .tag
    {
        display: inline;
    }

    .image
    {
        float: left;
        width: 30%;
        margin: 5px;

        img 
        {
            width: 100%;
        }
    }

    .summary
    {
        h1
        {
            margin: 0;
        }
    }

}