---
---

@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
@import 'base';

li
{
    list-style: none;
    overflow: hidden;

    a 
    {
        text-decoration: none;
        color: darkslategray;
    }

    .tags
    {
        display: inline;
    }

    .tag
    {
        display: inline;
    }

    .image
    {
        float: left;
        width: 30%;

        img 
        {
            width: 100%;
        }
    }

}