---
---

@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

#content
{
    padding: 10px;
    text-align: center;
    
    h1 
    {

    }

    p
    {
        font-family: 'Ubuntu', sans-serif;
    }
}