---
const today = new Date();
import { REPO_URL } from '../consts';
const { editUrl } = Astro.props;
const fullUrl = editUrl ? `${REPO_URL}/blob/main/src/${editUrl.split('/src/')[1]}` : REPO_URL;
---

<footer>
	<div class="social-links">
		<a href={fullUrl}>Edit this page (for me to easily make edits from my phone)</a> 
	</div>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
</style>
