<html>
    <head>
        <meta content="width=device-width, initial-scale=1" name="viewport" />

        <title>{{ page.title }} [V{{site.version}}]</title>
        <link rel="stylesheet" href="css/layout.css" />
        <link rel="stylesheet" href="css/page.css" />
        <link rel="stylesheet" href="css/markdown.css" />
    </head>
    <body>
        <div id="app">
            <input type="checkbox" id="burger-check" name="burger-check" autocomplete="off">
            <label id="burger-button" class="mobile" for="burger-check">
                <div id="burger-button-container">
                    <span class="burger-line" id="one"></span>
                    <span class="burger-line" id="two"></span>
                    <span class="burger-line" id="three"></span>
                </div>
            </label>
            <div id="left-panel" class="mobile panel">
                <div class="nav-bar">
                    {% for route in site.data.routes %}
                    <a href="{{ route.Url }}" class="nav-bar-item">{{ route.Name }}</a>
                    {% endfor %}
                </div>
            </div>
            <div id="main-panel" class="panel"> 
                <div id="title-bar">
                    <div id="title-text">
                        {{ site.title }}
                    </div>
                    <div id="links">
                        <ul>
                            {% for link in site.data.links %}
                                <a href="{{ link.url }}">
                                    <img src="{{ link.imgUrl }}" height="30px" width="30px" />
                                </a>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% if page.bannerUrl != null and page.bannerUrl != empty %}
                    <div id="banner">
                        <img src="{{ page.bannerUrl }}" width="100%" height="100%" />
                    </div>
                {% endif %}
                <div class="nav-bar">
                    {% for route in site.data.routes %}
                    <a href="{{ route.Url }}" class="nav-bar-item">{{ route.Name }}</a>
                    {% endfor %}
                </div>
                <div id="content">
                    {{ content }}
                </div>
                <div id="footer">
                    {% include footer.html %}
                </div>
            </div>
        </div>
    </body>
</html>