<html>
    <head>
        <meta content="width=device-width, initial-scale=1" name="viewport" />

        <title></title>
        <link rel="stylesheet" href="/css/page.css" />
    </head>
    <body>
        <div id="app">
            <input type="checkbox" id="burger-button">
            <div id="burger-panel" class="panel">

                <div id="burger-nav">
                    <div class="burger-nav-item">Home</div>
                    <div class="burger-nav-item">About</div>
                    <div class="burger-nav-item">CV</div>
                    <div class="burger-nav-item">Blog</div>
                    <div class="burger-nav-item">Serverless</div>
                    <div class="burger-nav-item">Projects</div>
                </div>
            </div>
            <div id="main-panel" class="panel"> 
                <div id="title-bar">
                    TitleBar
                </div>
                <div id="banner">
                    <img src="banner.png" width="100%" height="100%" />
                </div>
                <div id="nav-bar">
                    <div class="nav-bar-item">Home</div>
                    <div class="nav-bar-item">About</div>
                    <div class="nav-bar-item">CV</div>
                    <div class="nav-bar-item">Blog</div>
                    <div class="nav-bar-item">Serverless</div>
                    <div class="nav-bar-item">Projects</div>
                </div>
                <div id="content">
                    {{ content }}
                </div>
                <div id="footer">
Velit ex tempor anim veniam commodo nisi eu commodo irure dolor aliquip deserunt. Velit reprehenderit eiusmod ea ad. Laboris dolor fugiat deserunt non occaecat.
                </div>
            </div>
        </div>
    </body>
</html>