<style>
    body {
        color: darkslategrey;
        background-color: whitesmoke;
        pointer-events: none;
        font-family: monospace;
    }
    
    #top-container {
        width: 100%;
        position: relative;
    }
    
    #top {
        position: relative;
        left: 0;
        right: 0;
        margin: auto;
        width: 60%;
        text-align: center;
    }
    
    #title {
        font-size: xx-large;
    }
    
    #sub-title {
        font-size: large;
        position: relative;
        left: 100px;
        color: deepskyblue;
    }
    
    #main {
        position: relative;
    }
    
    #content {
        width: 69%;
        display: inline-block;
    }
    
    #nav, #blogs {
        vertical-align: top;
        top: 0;
        position: sticky;
        width: 15%;
        display: inline-block;
    }
    
    .item
    {
        pointer-events: all;
        margin-top: 5px;
        width: 50%;
        transition: color 0.3s;
    }
    
    .item a
    {
        text-decoration: none;
        color: inherit;
    }
    
    .item hr
    {
        margin-bottom: 2;
        margin-top: 2;
        opacity: 0;
        transform: translate(30px, 0);
        transition: transform 0.3s, opacity 0.3s;
    }
    
    .item:hover
    {
        color: deepskyblue;
    }
    
    .item:hover hr
    {
        opacity: 1;
        transform: translate(0, 0);
    }
    </style>
    <div id="top-container">
        <div id="top">
            <div id="title">A Pleb's Ponderings</div>
            <div id="sub-title">By Kyle Alexander</div>
            <hr />
        </div>
    </div>
    <div id="main">
        <div id="nav">
            <div class="item"><a href="/">Back</a><hr /></div>
            {% include menu.html %}
         </div>
        <div id="content">
            {{ content }}
        </div>
        <div id="blogs">
           <div class="card">
               <div class="card-title">Test Blog 1</div>
               <div class="card-tags">
                   <div class="card-tag">Tech</div>
                   <div class="card-tag">Agile</div>
                   <div class="card-tag">C#</div>
               </div>
           </div>
           <div class="card">
               <div class="card-title">Test Blog 2</div>
               <div class="card-tags">
                   <div class="card-tag">Tech</div>
                   <div class="card-tag">Agile</div>
                   <div class="card-tag">C#</div>
               </div>
            </div>
        </div>
    </div>